/*Variables*/
:root{
    --primario:#346beb;
    --borde:#7ebbf7;
    --secundario:#eff1f1;
    --oscuro:#1315ab;
    --sombra: 0 1px 5px rgba(104,104,104,0.8);
}


/*Global*/
html{
    font-family: Arial, Helvetica, sans-serif;
    background: wheat;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: black;
    text-decoration: none;
}

.btn{
    display:inline-block;
    color: white;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    margin: 20px ;
    border: 4px solid #ccc;
    background: #ccc;
    
    padding: 5px;
    overflow: hidden;
    transition: 0.5s all ease;
    
}

h1{
    text-align: center;
    margin: 10px;
    
}

.btn:hover{
    border-radius: 20px;
    transition: all 0.5s ease;
    background: #02075d;
    border: 4px solid #02075d
}

.contenedor{
    width: 80%;
    margin: auto;
    overflow: hidden;

}

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #02075d;
    height: 1em;
    border-bottom: 5px coral solid;

}

header .actual a{
    color: var(--borde);
    font-weight: bold;
    border: 2px solid var(--borde);
    padding: 5px;
   
}

header img{
    width: 15em;
}


.logo{
    cursor: pointer;
}

/*Barra Nav*/
.main-nav{
    list-style: none;
    
}



.main-nav li { 
    display: inline-block;
    padding: 0px 20px;
    background: #02075d;
    text-transform: uppercase;
    
}

.main-nav li a{
    background:#02075d;
    border-radius: 16px;
}

.main-nav li a:hover{
    color: var(--primario);
    
}


/*Seccion top*/

#intro{

    min-height: 500px;
    background: url('../img/esteto.jpg') no-repeat 0 -330px;
    text-align: center;
    color: white;
    border-bottom: 5px coral solid;
}

#intro h1{
   margin-top: 190px;
   margin-bottom: 10px;
   font-size: 55px;
   text-shadow: 2px 2px 2px black;
    
}


.intro-contenido{
    overflow: hidden;
    
}

/*Seccion medio*/

.cajas{
    background:wheat;
    width: 100%;
   
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    padding: 20px;
    text-align: center;
    border-bottom: 5px coral solid;
}

.caja1{
    width: 600px;
    height: 250px;
    
    border-radius: 10px;
    box-shadow: var(--sombra);
    margin: 0 50px 0 0;
    padding: 2px;
    background: rgb(248, 246, 246);
    
}

.caja2{
    width: 600px;
    height: 250px;
    margin: 0 0 0 50px;
   
    border-radius: 10px;
    box-shadow: var(--sombra);
    padding: 2px;
    background: rgb(248, 246, 246);
}


/*Seccion Servicios*/

.citas{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem;
    border-bottom: 5px coral solid;
    
}

.cita{
    box-shadow: var(--sombra);
    padding: 2rem;
    text-align: center;
    background: rgb(248, 246, 246);
    
}

.citas .cita img{
    width: 100%;
}

.btn1{
    display:inline-block;
    color: black;
    
    font-size: 15px;
    margin: 20px ;
    border: 4px solid #ccc;
    background: #ccc;
    border-radius: 3px;
    padding: 5px;
    overflow: hidden;
    transition: 0.5s all ease;
        
    
    
    
}

.btn1:hover{
    border-radius: 20px;
    transition: all 0.5s ease;
    background: #02075d;
    border: 4px solid #02075d;
    color: white;
}


/*Footer*/


footer{
    background-color: #02075d;
    color: white;
    height: 150px;
    align-content: center;
    line-height: 30px;
}

.contenedor-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 923px) {
    body{
        width: 1010px;
    }
    header{
        height: 280px;
        display: flex;
        flex-direction: column;
    }
    header .logo{
        width: 80%;
        height: 2000px;
        margin-bottom: 10px;
    }
    header .main-nav{
        margin-top: 10px;
        font-size: 20px;
        height: 90px;
        
    }
    header .main-nav ul li a{
        font-size: 20px;
        
    }

    .citas{
        grid-template-columns: repeat(2, 1fr);
        font-size: 25px;
        
    }
}

@media (max-width: 400) {

    header{
        height: 500px;
        display: flex;
        flex-direction: column;
    }
    header .logo{
        width: 100%;
        height: 2000px;
        margin-bottom: 10px;
    }
    header .main-nav{
        margin-top: 10px;
        font-size: 60px;
        height: 90px;
        
    }
    header .main-nav ul li a{
        font-size: 100px;
    }

    .cajas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .citas{
        grid-template-columns: repeat(1, 1fr);
        font-size: 400px;
        
    }
}